:host {
  width: 100%;
}

.float-right {
  display: inline;
  float: right;
  padding: 0 8px 0 0;
}

.timers-list {
  display: flex;
  justify-content: space-between;
  width: 100%;

  mat-card-header,
  mat-card-content,
  mat-card-footer {
    display: flex;
    justify-content: center;
  }
  mat-card-header,
  mat-card-content {
    padding-bottom: 0.5em mat-card-header {
      align-items: center;
      height: 2em;
    }
    mat-card-title {
      font-size: 2em;
    }
    mat-card-content {
      flex-flow: column;
    }
  }

  .mensaje-input {
    width: 100%;
  }
  .mensaje-input:focus {
    width: 100%;
    height: 18em;
  }

  .example-full-width {
    width: 100%;
  }
}

.iconGreen {
  color: green;
}
.iconRed {
  color: red;
}
