<mat-card class="timers-list">
  <form [formGroup]="formGroupTimers" (ngSubmit)="onFormSubmit()">
    <mat-card-header>
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-card-title>Temporizador</mat-card-title>
          </td>
          <td class="float-right">
            <button mat-raised-button color="accent">Guardar</button>
          </td>
          <td class="float-right">
            <mat-slide-toggle formControlName="activo">Activo</mat-slide-toggle>
          </td>
        </tr>
      </table>
    </mat-card-header>
    <mat-card-content>
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td colspan="3">
            <mat-form-field class="example-full-width">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="nombre" placeholder="Nombre" />
              <mat-error *ngIf="formGroupTimers.get('nombre')?.invalid">
                {{ getErrorMessage('nombre') }}
              </mat-error>
            </mat-form-field>
          </td>
          <td colspan="3">
            <mat-form-field class="example-full-width">
              <mat-label>Intervalo</mat-label>
              <input
                type="text"
                matInput
                formControlName="intervalo"
                placeholder="101"
              />
              <mat-error *ngIf="formGroupTimers.get('intervalo')?.invalid">
                {{ getErrorMessage('intervalo') }}
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <mat-form-field class="mensaje-input">
              <mat-label>Mensaje</mat-label>
              <textarea
                matInput
                formControlName="mensaje"
                placeholder="Mensaje"
              ></textarea>
              <mat-error *ngIf="formGroupTimers.get('intervalo')?.invalid">
                {{ getErrorMessage('mensaje') }}
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-footer> </mat-card-footer>
  </form>
</mat-card>
<ng-container *ngFor="let timer of timers">
  <mat-card class="timers-list">
    <mat-card-header>
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-card-title>Comando</mat-card-title>
          </td>
        </tr>
      </table>
    </mat-card-header>
    <mat-card-content>
      <table class="example-full-width plain" cellspacing="0">
        <tr>
          <td>
            <div class="col">
              <mat-label>Nombre</mat-label>
              <span>{{ timer.name }}</span>
            </div>
          </td>
          <td class="col">
            <div class="col">
              <mat-label>Intervalo de tiempo</mat-label>
              <span>{{ timer.period }}</span>
            </div>
          </td>
          <td class="">
            <div class="float-right col">
              <mat-label>Activo</mat-label>
              <mat-icon
                [fontIcon]="getActiveIcon(timer.active)"
                [ngClass]="{
                  iconGreen: timer.active,
                  iconRed: !timer.active
                }"
              ></mat-icon>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="6 col">
            <div class="col">
              <mat-label>Mensaje</mat-label>
              <span>{{ timer.message }}</span>
            </div>
          </td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-footer> </mat-card-footer>
  </mat-card>
</ng-container>
