:host {
  width: 100%;
}
mat-card {
  margin-top: 10px;
}

.float-right {
  display: inline;
  float: right;
  padding: 0 8px 0 0;
}

.timers-list {
  display: flex;
  justify-content: space-between;
  width: 100%;

  mat-card-header,
  mat-card-content,
  mat-card-footer {
    display: flex;
    justify-content: center;
  }
  mat-card-header,
  mat-card-content {
    padding-bottom: 0.5em;
    mat-card-header {
      align-items: center;
      height: 2em;
    }
    mat-card-title {
      font-size: 2em;
    }
    mat-card-content {
      flex-flow: column;
    }
  }

  .mensaje-input {
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }
}
/* Estilos para las lista de temporizadores */
.timers-list.timers {
  mat-card-header {
    align-items: center;
    height: 2em;
  }
  mat-card-title {
    font-size: 2em;
  }
  mat-card-content {
    flex-flow: column;
   mat-label{
     display: inline-block;
       width: 5.5em;
     
   }
  }
  .float-right {
   position: relative;
   width: 50px;
   margin-right: 10px;
   mat-label {
     width: fit-content;
   }
   mat-icon {
    position: absolute;
   }
  }
  .title-left {
    width: fit-content;
  }
  .title-right {
    width: 100%;
  
  }
}
.iconGreen {
  color: green;
}
.iconRed {
  color: red;
}
