<div class="title" id="title"></div>
<div class="timer">
    <span id="horas">00</span>:<span id="minutos">00</span>:<span id="segundos">00</span>
</div>
<div class="form">
    <form action="timer.html" method="get">
        <input type="text" name="titulo" placeholder="Título" value="Cuenta atras">
        <div class="form-time">
            <input type="number" name="horas" placeholder="Horas" value="0">
            <input type="number" name="minutos" placeholder="Minutos" value="10">
            <input type="number" name="segundos" placeholder="Segundos" value="0">
        </div>
        <input type="submit" value="Actualizar">
    </form>
</div>
