<mat-card class="login-form">
  <mat-card-header>
    <mat-card-title>Iniciar sesion</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div>
      <p>
        <mat-form-field>
          <mat-label>App Token:</mat-label>
          <input matInput type="password" name="appToken" placeholder="appToken" [(ngModel)]="appToken" />
        </mat-form-field>
        <button mat-raised-button color="accent" (click)="addAppToken(appToken)">Add app token</button>
      </p>
      <p>
        <mat-form-field>
          <mat-label>App Secret:</mat-label>
          <input matInput type="password" name="appSecret" placeholder="appSecret" [(ngModel)]="appSecret" />
        </mat-form-field>
        <button mat-raised-button color="accent" (click)="addAppSecret(appSecret)">Add app secret</button>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Chat Token</mat-label>
          <input matInput type="password" name="chatToken" placeholder="chatToken" [(ngModel)]="chatToken" />
        </mat-form-field>
        <button mat-raised-button color="accent" (click)="addChatToken(chatToken)">Add chat token</button>

      </p>
      <p>
        Crear base de datos para los tokens
        <button mat-raised-button color="accent" (click)="createTwitchTokensDB()">crear</button>
      </p>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <mat-card-subtitle> pie de tarjeta </mat-card-subtitle>
  </mat-card-footer>
</mat-card>
